<%- include('includes/head.ejs') %>
  <h1>
     
    <% if(typeof titulo !== 'undefined') { %>
        <%= titulo %>
    <%  } else { %>
      O titulo não foi enviado
    <% } %>
    <br>
    <%= titulo %><br>
    <%- titulo %>

    <% numeros.forEach(num => { %>
      <%= num %>
    <% }) %>
    <br>
    <br>
    <%= variavelLocal %>
  </h1>

  <section>
    <form action="/" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <label>Nome</label>
      <input type="text" name="cliente">
      <button>Submit</button>
    </form>
  </section>
<%- include('includes/footer') %>